<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>jrk</string>
	<key>ordering</key>
	<array>
		<string>C5E3073C-CC02-47D9-9496-A2E413C4C30F</string>
		<string>4ADF5FDC-055D-4944-BE32-AEF341129951</string>
		<string>11866101-55F2-4D13-98ED-9BCD3CEF9B8E</string>
		<string>4117CA64-4737-4CBA-A37A-7710345339C5</string>
		<string>16CFC300-356E-4C4A-92FD-675DDF4B1B06</string>
	</array>
	<key>uuid</key>
	<string>DBE31189-2D1C-4F43-9E6A-BB56A09DA309</string>
</dict>
</plist>
